* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

.glyphicon {
  font-size: 30px;
}

.center {
  width: 90%;
  background-color: grey;
}
.container {
  background-color: grey;
}
.text-center {
  font-size: 30px;
}
.navbar {
  border: none;
  background-color: grey;
  color: black;
}
h2 {
  text-align: center;
}
.navbar-brand {
  font-size: 30px;
}
